
input[type="button"] {
	margin-left: 93%;
	margin-top: 4.0%;
	background-color: DodgerBlue;
	height: 30px;
	width: 70px;
	border-radius: 5px;
	color: white;
}                                    

img.google {
	position: absolute;
	height: 40px;
	width: 120px;
	margin-top: 1.0%;
	margin-left: 2.5%;
}

div.box {
	position: absolute;
	margin-top: 2.0%;
	width: 100%;
	height: 900px;
	background-color: white;
	box-shadow: 1px 1px 5px #888888;
}

p.title {
	text-align: center;
	color: #59595b;
	font-size: 200%;
}

div.container {
	position: absolute;
	margin-left: 60%;
	width: 100px;
	height: 700px;
	background-color: #e3e5e8;
	box-shadow: 1px 1px 0px #888888;
	width: 450px;
}

input[type="text"] {
	margin-left: 3%;
	display: inline-block;
	width: 40%;
	background: "transparent";
	display: "inline-block";
	border-width: 0px;
}

input[type="password"] {
	margin-left: 3%;
	display: inline-block;
	width: 40%;
	background: "transparent";
	display: "inline-block";
	border-width: 0px;
}

input[type="email"] {
	margin-left: 3%;
	width: 80%;
}

input[type="submit"] {
	margin-left: 82%;
	margin-top: 20%;
	width: 10%;
	background-color: DodgerBlue;
	height: 30px;
	width: 70px;
	color: white;
}

p.heading {
	margin-left: 3%;
	font-size: 80%;
}

span.atgmail {
	margin-top: 5px;
	position: absolute;
	right: 70px;
	color: #999;
	direction: ltr;
	position: absolute;
}

input[type=date] {
	margin-left: 3%;
	width: 160px;
}

input[type=text].year {
	width: 40px;
}

div.space {
	margin-left: 3%;
}

input[type=button].button {
	margin-left: 80%;
	width: 80px;
	height: 30px;
}